body {
    margin: 0;
    font-family: sans-serif;
}

header, main, footer {
    width: 950px;
    margin-left: calc(50% - 500px);
    display: inline-block;
    margin-bottom: 13px;
}

header {
    margin-top: 10px;
}

.logo {
    float: left;
    width: 250px;
}

.logo:hover {
    box-shadow: 0 0 6px #0bf5c2;
}

.main-menu {
    float: right;
    margin-top: 0.7em;
}

.links {
    font-size: 15px;
    margin-left: 30px;
    text-decoration: none;
    padding: 0.5em;
    line-height: 1.2em;
}

.links:first-child {
    margin-left: 0;
}

.links:last-child {
    background-color: #35CFAE;
    color: white;
    border-radius: 0.6em;
}

.links:hover {
    text-shadow: 0 0 6px #0bf5c2;
}

.links:last-child:hover {
    background-color: rgb(132, 242, 254);
    color: rgb(43, 43, 98);
    box-shadow: 0 0 6px #0bf5c2;
}

.left-column {
    float: left;
    width: 55%;
}

.right-column-top {
    float: right;
    width: 45%;
    margin-top: 30px;
}

h1 {
    margin-top: 90px;
    margin-bottom: 0;
    font-size: 70px;
    font-weight: bold;
    color: #222750;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

h5 {
    margin-bottom: 8px;
    margin-top: 0;
    font-size: 30px;
    color: #F37958;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

.right-column-top > p {
    font-weight: bold;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

.right-column-below {
    width: 45%;
    float: left;
    display: flex;
    line-height: 1em;
}

.second-img {
    width: 220px;
}

.right-column-below-links {
    float: left;
    display: block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.icon2 {
    margin-top: 12px;
    display: block;
    padding: 6px;
    margin-bottom: 8px;
    text-decoration: none;
    color: #F37958;
}

.icon2:hover {
    color: #222750;
}

.support-btn {
    background-color: #F1C150;
    border: none;
    padding: 0.7em;
    border-radius: 0.6em;
    margin-top: 10px;
}

.support-btn:hover {
    box-shadow: 0 0 8px #F37958;
}

.support-btn > a {
    text-decoration: none;
    font-weight: bold;
    color: #222750;
}

.socials {
    float: left;
}

.icon {
    margin-right: 1em;
    line-height: 1em;
    font-size: 18px;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.icon:last-child {
    margin-right: 0;
}

.icon:hover {
    color: rgb(65, 237, 151);
}

.container {
    display: inline-block;
    font-size: 12px;
}

.footer-menu {
    float: left;
    margin-right: 0;
    font-size: 15px;
    color: black;
    margin-left: 1em;   
}

.footer-links:hover {
    color: #35CFAE;
}

footer > p {
    margin: 0;
    float:right;
    font-size: 14px;
}

.footer-links {
    margin-left: 1em;
    font-size: 14px;
    text-decoration: none;
    color: black;
}